> {% extends 'core/base.html' %}

{% block titulo %}
    App Productos
{% endblock titulo %}
{% block contenido %}
    <div class="fs-3 pb-5 ">
        <a href="{% url 'producto:productocategoria_create' %}">crear categorias de productos</a>
    </div>
    <div class="fs-3 pb-5 ">
        <a href="{% url 'producto:productocategoria_list' %}">Listar categorias de productos</a>
    </div>  
    <div class="fs-3 pb-5 ">
        <a href="{% url 'producto:inicio' %}">Volver a inicio</a>
    </div>  


    

{% endblock contenido %}   
